/* 색상 관련 변수 */
:root {
  --text-primary: #333333;
  --text-secondary: #555555;
  --heading-primary: #1a1a1a;
  --heading-secondary: #222222;
  --heading-tertiary: #444444;

  --text-accent: #ff4081;
  --text-success: #4caf50;
  --text-warning: #ff9800;
  --text-error: #f44336;

  --link-primary: #1e90ff;
  --link-hover: #ff6347;

  --text-light: #f5f5f5;

  --text-dark-on-light: #212121;
  --text-light-on-dark: #e0e0e0;

  --text-white: #ffffff;
  --text-off-white: #f8f8f8;
  --text-light-gray: #f0f0f0;
  --text-warm-white: #fff8e1;
  --text-cool-white: #e1f5fe;
  --text-soft-gray: #dcdcdc;
  --text-mist-white: #e8e8e8;

  --text-neon-pink: #ff00ff;
  --text-neon-green: #00ff00;
  --text-neon-blue: #00bfff;
  --text-neon-orange: #ff4500;
  --text-neon-yellow: #ffff00;
  --text-neon-cyan: #00ffff;
}
/* 카드 리스트 관련 변수 */
:root{
  --header-title-size: 2rem;
  --card-list-gap: 1.5rem;
  --card-list-count: 6;
  --card-main-title-size: 1.125rem;
  --card-sub-text: 0.9rem;
}
@media (max-width: 1440px){
  :root{
    --card-list-count: 5;
  }
}
@media (max-width: 1024px) {
  :root{
    --card-list-gap: 1rem;
    --card-list-count: 4;
    --card-main-title-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  :root{
    --card-list-gap: 0.75rem;
    --card-list-count: 2;
    --card-main-title-size: 1rem;
  }
}
body{
  display: grid;
  grid-template-rows: 150px auto;
  grid-template-columns: 1fr;
}
header{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0) 100%);
  color: var(--text-white);
  z-index: 1000;
  padding: 1rem 2rem;
  position: sticky;
  top:0;
  width: 100%;
  grid-row: 1;
  grid-column: 1;
}
header .header-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
header .header-wrapper .title-area{
  width: 100%;
  display: flex;
}
header .header-wrapper .title-area h1{
  flex:1;
  text-align: center;
  font-size: var(--header-title-size);
}
header .search-bar{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}
header .search-bar .search-input{
  width: 100%;
  border: 0;
  padding: 0.75rem 3.5rem 0.75rem 1rem;
  margin: 0.5rem 0;
  color: var(--text-white);
  border-radius: 1.25rem;
  background-color: rgba(64, 64, 64, 0.7);
}
header .search-bar i {
  position: absolute;
  right: 1rem;
}
header .btn-text{
  color: var(--text-neon-yellow);
  font-size: 0.75rem;
  margin: 0.5rem 0;
  cursor: pointer;
}
header .btn-text i{
  transition: transform 0.3s ease, opacity 0.3s ease;
}
header .btn-text i:hover {
  animation: waveAnimation 1s ease infinite;
}

@keyframes waveAnimation {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
main{
  padding: 1rem;
  grid-row: 2;
  grid-column: 1;
}
main .main-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
main .movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--card-list-gap);
}
main .movie-list li{
  width: calc((100% - ((var(--card-list-count) - 1) * var(--card-list-gap))) / var(--card-list-count));
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  background-color: #000;
  border-radius: 1rem;
}
main .movie-list li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease, transform 1s ease;
}
main .movie-list li .img-area-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Roboto', sans-serif;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  transition: opacity 0.3s ease;
}
main .movie-list li .card-title{
  font-size: var(--card-main-title-size);
  color:var(--text-off-white);
  font-weight: 700;
  line-height: 1;
  word-break: keep-all;
  margin: 0.5rem 0;
}
main .movie-list li .card-grade{
  font-size: var(--card-sub-text);
  color: var(--text-warm-white);
  margin: 0.5rem 0;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}
main .movie-list li .card-grade i{
  color:var(--text-neon-green);
  font-size: var(--card-sub-text);
}
main .movie-list li:hover img{
  opacity: 0.2;
  transform: scale(1.25);
}
main .movie-list li:hover .img-area-info{
  opacity: 1;
}
main .loading-area{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-cool-white)
}
.loading-area .spinner{
  font-size: 3rem;
  animation: rotation 1s infinite ease;
}
@keyframes rotation {
  0%{
    transform: rotate(0deg)
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
#loading{display: none;}